.main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1700px;
}

.hidden {
  display: none;
}

.main-container > div {
  width: 100%;
}