.base-page-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 55px;
  width: 100%;
}

.base-page-container .top-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 75px;
  width: 100%;
}

.base-page-container .top-wrapper .top-logo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 420px;
}

.base-page-container .top-wrapper .top-logo-wrapper .top-logo {
  width: 100%;
}

.base-page-container .top-wrapper .top-logo-wrapper .top-logo-label {
  color: #abd48b;
  font: 24px Arial, sans-serif;
  margin-top: 20px;
  text-align: center;
}

.base-page-container .form-wrapper {
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  box-shadow: 0 15px 45px rgba(0,0,0,0.07);
  display: flex;
  justify-content: center;
  height: 715px;
  margin: 185px auto 75px;
  position: relative;
  width: 985px;
  z-index: 10;
}

.base-page-container .form-wrapper .monster-img-wrapper {
  display: flex;
  height: 100%;
  max-height: 300px;
  max-width: 370px;
  position: absolute;
  vertical-align: bottom;
  width: 370px;
  top: -300px;
}

.base-page-container .form-wrapper .monster-img-wrapper .monster-img {
  align-self: end;
  margin: auto 0 0 0;
  max-height: 100%;
  max-width: 100%;
}

.base-page-container .form-wrapper .paginator {
  align-items: center;
  background-color: #8cbe82;
  border-radius: 5px;
  box-shadow: 0 15px 45px rgba(0,0,0,0.2);
  color: #ffffff;
  display: flex;
  font: bold 36px Arial, sans-serif;
  justify-content: center;
  height: 80px;
  left: -50px;
  position: absolute;
  width: 265px;
  top: 55px;
  z-index: 20;
}

.base-page-container .form-wrapper .page-title {
  font: 64px Arial, sans-serif;
  left: 80px;
  position: absolute;
  top: 180px;
  white-space: pre-wrap;
}

.base-page-container .form-wrapper .on-form {
  bottom: 30px;
  position: absolute;
  right: 30px;
}

@media screen and (max-width: 320px) {
  .base-page-container {
    margin: 0 auto 40px;
    width: 310px;
  }

  .base-page-container .top-wrapper {
    flex-direction: column;
    margin-top: 0;
  }

  .base-page-container .top-wrapper .top-logo-wrapper {
    width: 100%;
  }

  .base-page-container .top-wrapper .top-logo-wrapper .top-logo {
    height: initial;
    margin: 40px 50px 15px;
    width: 220px;
  }

  .base-page-container .top-wrapper .top-logo-wrapper .top-logo-label {
    color: #abd48b;
    font: 22px Arial, sans-serif;
    margin: 0;
    text-align: center;
  }

  .base-page-container .form-wrapper {
    height: 500px;
    margin: 210px auto 0;
    width: 300px;
  }

  .base-page-container .form-wrapper .mob {
    display: block;
  }

  .base-page-container .form-wrapper .monster-img-wrapper {
    display: flex;
    justify-content: center;
    max-height: 175px;
    top: -175px;
  }

  .base-page-container .form-wrapper .paginator {
    left: 0;
  }

  .base-page-container .form-wrapper .page-title {
    font: 30px Arial, sans-serif;
    left: 10px;
    top: 190px;
  }

  .base-page-container .main-button {
    display: none;
  }
}
