.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 55px;
}

.container .top-logo {
  display: block;
  margin: 50px 50px 35px 50px;
  width: 850px
}

.container .top-logo-label {
  color: #7ca062;
  font: 34px Arial, sans-serif;
  margin-bottom: 50px;
}

.container .all-monsters {
  width: 1150px
}

.container .all-monsters-mob {
  display: none;
}

@media screen and (max-width: 320px) {
  .container {
    margin-bottom: 40px;
  }

  .container .top-logo {
    margin: 40px 50px 15px;
    width: 220px;
  }

  .container .top-logo-label {
    color: #abd48b;
    font: 22px Arial, sans-serif;
    margin-bottom: 25px;
  }

  .container .all-monsters {
    display: none;
  }

  .container .all-monsters-mob {
    display: block;
    margin-bottom: 80px;
    width: 250px;
  }
}
