.main-button {
  background-color: #0091ff;
  border: 0;
  border-radius: 6px;
  color: #ffffff;
  font: bold 30px Arial, sans-serif;
  height: 90px;
  margin: 20px;
  outline: none;
  width: 340px;
}

.main-button:hover {
  background-color: #32a6ff;
  cursor: pointer;
  user-select: none;
}

.main-button:active {
  background-color: #007de9
}

.main-button.disabled {
  background-color: #e5e5e5;
  pointer-events: none;
}

.main-button.green-btn {
  background-color: #8cbe82;
}

.main-button.green-btn:hover {
  background-color: #abe19f;
}

.main-button.green-btn:active {
  background-color: #73a269
}