.main-button {
  background-color: #0091ff;
  border: 0;
  border-radius: 6px;
  color: #ffffff;
  font: bold 30px Arial, sans-serif;
  height: 90px;
  margin: 20px;
  outline: none;
  width: 340px;
}

.main-button:hover {
  background-color: #32a6ff;
  cursor: pointer;
  user-select: none;
}

.main-button:active {
  background-color: #007de9
}

.main-button.disabled {
  background-color: #e5e5e5;
  pointer-events: none;
}

.main-button.green-btn {
  background-color: #8cbe82;
}

.main-button.green-btn:hover {
  background-color: #abe19f;
}

.main-button.green-btn:active {
  background-color: #73a269
}

.main-button.white-btn {
  background-color: #ffffff;
  color: rgba(0,0,0,0.87);
}

.main-button.white-btn:hover {
  background-color: #e9e9e9;
}

.main-button.white-btn:active {
  background-color: #d2d2d2
}

.main-button .internal-wrapper {
  align-items: center;
  display: flex;
  margin: 0 0 0 auto;
  justify-content: space-around;
  width: 80%;
}

.main-button .internal-wrapper svg {
  font-size: 38px;
}

.main-button.mob {
  display: none;
}

@media screen and (max-width: 320px) {
  .main-button {
    display: inline-block;
    height: 70px;
    margin: 0;
    width: 280px;
  }

  .main-button.mob {
    display: block;
    margin: auto auto 40px;
  }
}