.page-container .form-wrapper .text-field {
  left: 80px;
  position: absolute;
  width: 330px;
}

.page-container .form-wrapper .email {
  top: 375px;
}

.page-container .form-wrapper .password {
  top: 450px;
}

@media screen and (max-width: 320px) {
  .page-container .form-wrapper .text-field {
    left: 10px;
    width: 300px;
  }

  .page-container .form-wrapper .email {
    top: 275px;
  }

  .page-container .form-wrapper .password {
    top: 350px;
  }
}