.page-container .form-wrapper .text-field {
  left: 80px;
  position: absolute;
  width: 330px;
}

.page-container .form-wrapper .email {
  top: 375px;
}

.page-container .form-wrapper .password {
  top: 450px;
}
